{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default text-center">
    <div class="panel-heading">
        <h2>Mon profil</h2>
    </div>
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>{{ "Nom d'utilisateur"|trans }}:</strong> {{ user.username }}</p>
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>{{ "Nom"|trans }}:</strong> {{ user.nom }}</p>
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>{{ "Prenom"|trans }}:</strong> {{ user.prenom }}</p>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <strong>{{ 'E-mail'|trans }}:</strong> {{ user.email }}</p>
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <strong>{{ 'Téléphone'|trans }}:</strong> {{ user.tel }}</p>
        <p><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> <strong>{{ 'Site Web'|trans }}:</strong> {{ user.website }}</p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <strong>{{ 'Adresse'|trans }}:</strong> {{ user.adress }}</p>
{% dump(user.contacts) %}
        <br>
        <a class="btn btn-primary btn-lg " href="{{ path('fos_user_profile_edit') }}">Modifier</a>
    </div>

</div>
